.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 200px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
